div[role=main] img {
    max-width: 100%;
}

.headerlink {
    display: none;
}

.dropdown-submenu>.dropdown-menu {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.codehilite {
    overflow: scroll;
}

.codehilite > pre {
    overflow: scroll;
}